#banners {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner {
    transition: 0.2s;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.middleBanner {
    /* box-shadow: 0px 0px 5rem 0 #a532c8; */
    transform: scale(1.02);
    animation: pulsate 3s infinite ease-out;
}

.leftBanner:hover, .rightBanner:hover {
    cursor: pointer;
}

.banner:hover {
    /* transform: scale(1.01); */
    transform: scale(1.02);
    transition: 0.2s;
}

#carouselButtons {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.play{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, 0);
}

@keyframes pulsate {
    from {
        box-shadow: 0px 0px 1rem 0 #a532c8;
    }
    50% {
        box-shadow: 0px 0px 5rem 0 #a532c8;
    }
    to {
        box-shadow: 0px 0px 1rem 0 #a532c8;

    }
}

.please {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

