@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bayon&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Bayon, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  text-align: center;
  height: 100%;
  width: 100%;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #150F13;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body { 
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: 'Roboto' !important; 
  color: white;
}

#root {
  height: 100vh;
}

/* button {
  font-family: inherit;
  cursor: pointer;
} */

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
