/* .active {
    color:white;
} */

#navbar {
    position: absolute;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    font-family: Bayon;
}

#ticketCount {
    width: clamp(5rem, 50%, 24rem);
}
